body {
    background-color: #007f5f;
    color: #eeef20;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
button{
    padding: 5px 20px;
    background-color: #aacc00;
    border-style:none;
}
input{
    height: 25px;
}
